version: '3.6'
services:
  jenkins:
    container_name: jenkins
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
        - '9080:8080'
    restart: always
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - /var/jenkins_home:/var/jenkins_home
        - /usr/local/pic-sure-data-pipelines:/opt/pic-sure-data-pipelines
